# APP configuration
HOST=localhost
PORT=3000

# Database configuration
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres

# JWT configuration
JWT_SECRET=your_jwt_secret_key
NEXTAUTH_SECRET=your_jwt_secret_key
NEXTAUTH_URL=http://localhost:3000

# Upload configuration
UPLOAD_PATH=./uploads/
